src/flows/Account_Map_Alias_to_Name_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Map_Alias_to_Name</name>
        <label>Map Alias to Name</label>
        <locationX>516</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>Account.Alternate_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountAlias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Fields</name>
        <label>Save Fields</label>
        <locationX>518</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountAlias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Alias__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Alias_to_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Integration_User</name>
        <label>Is Integration User</label>
        <locationX>515</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e58000000z3l9AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Integration User</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Account Map Alias to Name Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Map Alias to Name Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>516</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Alternate_Customer_Name__c</queriedFields>
        <queriedFields>Alias__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>512</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Integration_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Account</name>
        <label>Save Account</label>
        <locationX>519</locationX>
        <locationY>551</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <startElementReference>User</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
