src/flows/AITM_Clone_TLLI_as_De_brief.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_TLLDebrief_to_CollTLLIDebrief</name>
        <label>Add TLLDebrief to CollTLLIDebrief</label>
        <locationX>588</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>CollTLLIDebrief</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TLLIDebrief</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_TLLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_values_from_TLLI</name>
        <label>Copy values from TLLI</label>
        <locationX>579</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Ad_hoc_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Ad_hoc_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Bid_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Bid_Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Current_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Current_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Credit_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Credit_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Delivery_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Delivery_Point__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Invoice_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Invoice_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Exchange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Exchange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Last_Tender_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Last_Tender_Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Level_Of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Level_Of_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Location_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Location_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Offered_Differential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Offered_Differential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Offered_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Offered_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Pricing_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Pricing_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Requested_Volume_USG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Requested_Volume_USG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Requested_Volume_UoM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Requested_Volume_UoM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Round__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Round__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Tender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Tender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Tender_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Tender_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Tender_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Tender_Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Unit_Of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Rebate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_Percentage_Volume_Offered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOfferedPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TLLIDebrief.AITM_History_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TLLI.AITM_History_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TLLDebrief_to_CollTLLIDebrief</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_debrief_record_type</name>
        <label>Set debrief record type</label>
        <locationX>578</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>TLLIDebrief.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DebriefRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_values_from_TLLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_TLLIs_With_De_Brief_Record_Count</name>
        <label>Check Existing TLLIs With De-Brief Record Count</label>
        <locationX>320</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Collection_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TLLIsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_TLLIs_With_De_Brief</targetReference>
            </connector>
            <label>Collection Not Empty</label>
        </rules>
        <rules>
            <name>Collection_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TLLIsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>De_brief_TLLIs</targetReference>
            </connector>
            <label>Collection Empty</label>
        </rules>
    </decisions>
    <description>The flow creates a duplicate of all Tender Location Line Items related to the tender within the current round and with De-brief record type.</description>
    <formulas>
        <name>NewOfferedPercentage</name>
        <dataType>Number</dataType>
        <expression>{!TLLI.AITM_Offered_Volume__c}*100/{!TLLI.AITM_Requested_Volume_USG__c}</expression>
        <scale>14</scale>
    </formulas>
    <interviewLabel>Clone TLLI as De-brief {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone TLLI as De-brief</label>
    <loops>
        <name>Loop_the_TLLIs</name>
        <label>Loop the TLLIs</label>
        <locationX>319</locationX>
        <locationY>292</locationY>
        <assignNextValueToReference>TLLI</assignNextValueToReference>
        <collectionReference>TLLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_debrief_record_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_TLLI_with_De_Brief</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>De_brief_TLLIs</name>
        <label>De-brief TLLIs</label>
        <locationX>333</locationX>
        <locationY>632</locationY>
        <inputReference>CollTLLIDebrief</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_TLLIs_With_De_Brief</name>
        <label>Delete TLLIs With De-Brief</label>
        <locationX>124</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>De_brief_TLLIs</targetReference>
        </connector>
        <inputReference>TLLIsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_all_last_round_Tender_Location_Line_Items_related_to_the_Tender</name>
        <label>Find all last-round Tender Location Line Items related to the Tender</label>
        <locationX>317</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_TLLIs</targetReference>
        </connector>
        <filters>
            <field>AITM_Is_Current_Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AITM_Is_Pricing_Basis_Not_Represented__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AITM_Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenderID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DebriefRecordTypeID</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Location_Line_Item__c</object>
        <outputReference>TLLIs</outputReference>
        <queriedFields>AITM_Account__c</queriedFields>
        <queriedFields>AITM_Ad_hoc_Volume__c</queriedFields>
        <queriedFields>AITM_Bid_Expiry_Date__c</queriedFields>
        <queriedFields>AITM_Currency__c</queriedFields>
        <queriedFields>AITM_Current_Value__c</queriedFields>
        <queriedFields>AITM_Credit_Days__c</queriedFields>
        <queriedFields>AITM_Delivery_Point__c</queriedFields>
        <queriedFields>AITM_Description__c</queriedFields>
        <queriedFields>AITM_Details_Context__c</queriedFields>
        <queriedFields>AITM_Duration__c</queriedFields>
        <queriedFields>AITM_Invoice_Frequency__c</queriedFields>
        <queriedFields>AITM_End_Date__c</queriedFields>
        <queriedFields>AITM_Exchange__c</queriedFields>
        <queriedFields>AITM_Last_Tender_Result__c</queriedFields>
        <queriedFields>AITM_Level_Of_Interest__c</queriedFields>
        <queriedFields>AITM_Location__c</queriedFields>
        <queriedFields>AITM_Location_Manager__c</queriedFields>
        <queriedFields>AITM_Offered_Differential__c</queriedFields>
        <queriedFields>AITM_Offered_Volume__c</queriedFields>
        <queriedFields>AITM_Pricing_Basis__c</queriedFields>
        <queriedFields>AITM_Quantity__c</queriedFields>
        <queriedFields>AITM_Requested_Volume_USG__c</queriedFields>
        <queriedFields>AITM_Requested_Volume_UoM__c</queriedFields>
        <queriedFields>AITM_Round__c</queriedFields>
        <queriedFields>AITM_Specification__c</queriedFields>
        <queriedFields>AITM_Start_Date__c</queriedFields>
        <queriedFields>AITM_Tender__c</queriedFields>
        <queriedFields>AITM_Tender_Location__c</queriedFields>
        <queriedFields>AITM_Tender_Result__c</queriedFields>
        <queriedFields>AITM_Unit_Of_Measure__c</queriedFields>
        <queriedFields>AITM_Volume__c</queriedFields>
        <queriedFields>AITM_Rebate__c</queriedFields>
        <queriedFields>AITM_Percentage_Volume_Offered__c</queriedFields>
        <queriedFields>AITM_History_Line_Item__c</queriedFields>
        <sortField>AITM_Location__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_De_brief_record_type</name>
        <label>Find De-brief record type</label>
        <locationX>322</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_all_last_round_Tender_Location_Line_Items_related_to_the_Tender</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AITM_Debrief</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DebriefRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_TLLI_with_De_Brief</name>
        <label>Lookup TLLI with De-Brief</label>
        <locationX>320</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_TLLIs_With_De_Brief_Record_Count</targetReference>
        </connector>
        <filters>
            <field>AITM_Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenderID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DebriefRecordTypeID</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Location_Line_Item__c</object>
        <outputReference>TLLIsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Find_De_brief_record_type</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of TLLI with De-brief record type to be created</description>
        <name>CollTLLIDebrief</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>DebriefRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TenderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TLLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>TLLIDebrief</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>Colletion of TLLIs in current round</description>
        <name>TLLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>Collect all de-breif records before clone and delete to avoid duplicate</description>
        <name>TLLIsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
</Flow>
