src/flows/AITM_Update_Security_text_on_Offer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>is_Account_or_Tender_Account_Action</name>
        <label>is Account or Tender Account Action</label>
        <locationX>406</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_Account_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>is Account Action</label>
        </rules>
        <rules>
            <name>Is_Tender_Account_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tenderAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tender_Account</targetReference>
            </connector>
            <label>Is Tender Account Action</label>
        </rules>
    </decisions>
    <interviewLabel>AITM Update Security text on Offer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AITM Update Security text on Offer</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>553</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Security_custom_meta</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>AITM_Security_Text_on_Offer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Security_custom_meta</name>
        <label>Get Security custom meta</label>
        <locationX>553</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filters>
            <field>AITM_MNMC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sequrityType</elementReference>
            </value>
        </filters>
        <object>AITM_Security_Type__mdt</object>
        <outputAssignments>
            <assignToReference>Account.AITM_Security_Text_on_Offer__c</assignToReference>
            <field>Contract_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Security_text_on_Offer</name>
        <label>Get Security text on Offer</label>
        <locationX>250</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tender_Account</targetReference>
        </connector>
        <filters>
            <field>AITM_MNMC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sequrityType</elementReference>
            </value>
        </filters>
        <object>AITM_Security_Type__mdt</object>
        <outputAssignments>
            <assignToReference>TenderAccount.AITM_Security_Text_on_Offer__c</assignToReference>
            <field>Contract_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tender_Account</name>
        <label>Get Tender Account</label>
        <locationX>250</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Security_text_on_Offer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tenderAccountId</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Account__c</object>
        <outputReference>TenderAccount</outputReference>
        <queriedFields>AITM_Security_Text_on_Offer__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>553</locationX>
        <locationY>437</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tender_Account</name>
        <label>Update Tender Account</label>
        <locationX>249</locationX>
        <locationY>435</locationY>
        <inputReference>TenderAccount</inputReference>
    </recordUpdates>
    <startElementReference>is_Account_or_Tender_Account_Action</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sequrityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TenderAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Account__c</objectType>
    </variables>
    <variables>
        <name>tenderAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
