src/flows/AITM_Notify_Location_Managers_To_Submit_Price.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_Collection_For_Update</name>
        <label>Add To Collection For Update</label>
        <locationX>545</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>TenderLocationsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TenderLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tender_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Location_Managers</name>
        <label>Collect Location Managers</label>
        <locationX>544</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>NotificationReceivers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TenderLocation.AITM_Location_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Manager_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tender_Location_Status</name>
        <label>Set Tender Location Status</label>
        <locationX>710</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>TenderLocation.AITM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting price</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_For_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Notification_Receivers</name>
        <label>Has Notification Receivers</label>
        <locationX>320</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Notification_Receivers_Are_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationReceivers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tender_Locations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Notification_Receivers_Are_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationReceivers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Manager_Available</name>
        <label>Location Manager Available</label>
        <locationX>710</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TenderLocation.AITM_Location_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tender_Location_Status</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <interviewLabel>AITM Notify Location Managers To Submit Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AITM Notify Location Managers On Awaiting Price</label>
    <loops>
        <name>Tender_Locations</name>
        <label>Tender_Locations</label>
        <locationX>318</locationX>
        <locationY>177</locationY>
        <assignNextValueToReference>TenderLocation</assignNextValueToReference>
        <collectionReference>TenderLocationsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Location_Managers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Notification_Receivers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tender_Locations</name>
        <label>Get Tender Locations</label>
        <locationX>317</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tender_Locations</targetReference>
        </connector>
        <filters>
            <field>AITM_Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenderId</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Location__c</object>
        <outputReference>TenderLocationsCollection</outputReference>
        <queriedFields>AITM_Status__c</queriedFields>
        <queriedFields>AITM_Location_Manager__c</queriedFields>
        <queriedFields>AITM_Tender__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tender_Locations</name>
        <label>Update Tender Locations</label>
        <locationX>322</locationX>
        <locationY>416</locationY>
        <inputReference>TenderLocationsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Tender_Locations</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPostNotificationBody</name>
        <text>Hi @[{!TenderLocation.AITM_Location_Manager__c}],

The tender are now in Awaiting Pricing state.</text>
    </textTemplates>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationReceivers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TenderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TenderLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AITM_Tender_Location__c</objectType>
    </variables>
    <variables>
        <name>TenderLocationsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AITM_Tender_Location__c</objectType>
    </variables>
    <variables>
        <name>TenderLocationsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AITM_Tender_Location__c</objectType>
    </variables>
</Flow>
