src/flows/AITM_History_Line_Item.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_one_by_one_current_TLLI</name>
        <label>Add one by one current TLLI</label>
        <locationX>498</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>TLLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTLLIInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_current_TLLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_History_TLLIs_collection</name>
        <label>Add to History TLLIs collection</label>
        <locationX>636</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>CurrentTLLIInLoop.AITM_History_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HistoryTLLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_one_by_one_current_TLLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_History_TLLI</name>
        <label>Is there History TLLI?</label>
        <locationX>622</locationX>
        <locationY>259</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>History_TLLI_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HistoryTLLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_History_TLLIs_collection</targetReference>
            </connector>
            <label>History TLLI found</label>
        </rules>
    </decisions>
    <interviewLabel>AITM History Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AITM History Line Item</label>
    <loops>
        <name>Loop_through_current_TLLIs</name>
        <label>Loop through current TLLIs</label>
        <locationX>241</locationX>
        <locationY>392</locationY>
        <assignNextValueToReference>CurrentTLLIInLoop</assignNextValueToReference>
        <collectionReference>CurrentTLLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_History_TLLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TLLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_curent_tender_TLLIs</name>
        <label>Find curent tender TLLIs</label>
        <locationX>242</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_current_TLLIs</targetReference>
        </connector>
        <filters>
            <field>AITM_History_Line_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AITM_Tender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentTenderID</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Location_Line_Item__c</object>
        <outputReference>CurrentTLLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AITM_Account__c</queriedFields>
        <queriedFields>AITM_Location__c</queriedFields>
        <queriedFields>AITM_History_Line_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_History_TLLI</name>
        <label>Find History TLLI</label>
        <locationX>464</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_History_TLLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_through_current_TLLIs</targetReference>
        </faultConnector>
        <filters>
            <field>AITM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentTLLIInLoop.AITM_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AITM_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentTLLIInLoop.AITM_Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AITM_Tender_Result__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AITM_Tender__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentTenderID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentTLLIInLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DebreifRecordTypeID</elementReference>
            </value>
        </filters>
        <object>AITM_Tender_Location_Line_Item__c</object>
        <outputReference>HistoryTLLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_TLLI_Debrief_Record_Type</name>
        <label>Find TLLI Debrief Record Type</label>
        <locationX>244</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_curent_tender_TLLIs</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AITM_Debrief</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DebreifRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_TLLIs</name>
        <label>Update TLLIs</label>
        <locationX>242</locationX>
        <locationY>506</locationY>
        <inputReference>TLLIsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Find_TLLI_Debrief_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentTenderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTLLIInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>CurrentTLLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>DebreifRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HistoryTLLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>HistoryTLLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>TLLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AITM_Tender_Location_Line_Item__c</objectType>
    </variables>
</Flow>
