src/flows/AITM_Bank_Account_assignment_to_Tender_Customer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Are_input_variables_assigned</name>
        <label>Are input variables assigned?</label>
        <locationX>147</locationX>
        <locationY>113</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractingEntityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentCurrency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TenderAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Bank_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Bank_Account</name>
        <label>Found Bank Account?</label>
        <locationX>310</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Bank_Account_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BankAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tender_Account_with_the_Bank_Account</targetReference>
            </connector>
            <label>Bank Account found</label>
        </rules>
    </decisions>
    <description>Flow finds and assing Bank Account to the Tender Customer based on Contracting Entity and Payment Currency.</description>
    <interviewLabel>Bank Account assignment to Tender Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Account assignment to Tender Customer</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Bank_Account</name>
        <label>Find Bank Account</label>
        <locationX>148</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Bank_Account</targetReference>
        </connector>
        <filters>
            <field>AITM_Contracting_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractingEntityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>AITM_Currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentCurrency</elementReference>
            </value>
        </filters>
        <object>AITM_Contracting_Entity_Bank_Account__c</object>
        <outputAssignments>
            <assignToReference>BankAccountID</assignToReference>
            <field>AITM_Bank_Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tender_Account_with_the_Bank_Account</name>
        <label>Update Tender Account with the Bank Account</label>
        <locationX>309</locationX>
        <locationY>233</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TenderAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AITM_Bank_Account__c</field>
            <value>
                <elementReference>BankAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>AITM_Tender_Account__c</object>
    </recordUpdates>
    <startElementReference>Are_input_variables_assigned</startElementReference>
    <status>Active</status>
    <variables>
        <name>BankAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of Contracting Entity set on Tender Account</description>
        <name>ContractingEntityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Payment Currency of Account</description>
        <name>PaymentCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Tender Account ID of input Tender Account</description>
        <name>TenderAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
