src/flows/CALCF_Assign_Email_Addresses_to_Survey_Response_and_Send_Low_Scoring_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Low_Scoring_Email</name>
        <label>Send Low Scoring Email</label>
        <locationX>967</locationX>
        <locationY>306</locationY>
        <actionName>SurveyQuestionResponse__c.CALCF_LowNPSEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Operations_Manager_Details</name>
        <label>Assign Operations Manager Details</label>
        <locationX>706</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>SurveyResponse.Operations_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyResponse.Operations_Manager_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OperationsManagerFirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Survey_Reponse</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>default for email address as system constants do not appear to be working (salesforce bug?)</description>
        <name>nullemail</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Is_Operations_Manger_Found</name>
        <label>Is Operations Manager Found</label>
        <locationX>367</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Operations_Manager_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>nullemail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Operations_Manager_Details</targetReference>
            </connector>
            <label>Operations Manager Found</label>
        </rules>
    </decisions>
    <interviewLabel>CALCF Assign Email Addresses to Survey Response and Send Low Scoring Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CALCF Assign Email Addresses to Survey Response and Send Low Scoring Email</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Operations_Manager_Email_And_Name</name>
        <label>Get Operations Manager Email And Name</label>
        <locationX>112</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Response_Details</targetReference>
        </connector>
        <filters>
            <field>Sales_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <filters>
            <field>Survey_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypeOfTouchpoint</elementReference>
            </value>
        </filters>
        <object>LCF_Operations_Manager_Settings__c</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Operations_Manager_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperationsManagerFirstName</assignToReference>
            <field>Operations_Manager_First_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Response_Details</name>
        <label>Get Response Details</label>
        <locationX>116</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Operations_Manger_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>SurveyQuestionResponse__c</object>
        <outputReference>SurveyResponse</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Operations_Manager_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Reponse</name>
        <label>Update Survey Reponse</label>
        <locationX>713</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Send_Low_Scoring_Email</targetReference>
        </connector>
        <inputReference>SurveyResponse</inputReference>
    </recordUpdates>
    <startElementReference>Get_Operations_Manager_Email_And_Name</startElementReference>
    <status>Active</status>
    <variables>
        <description>The operations manager email address</description>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The id of the response</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationsManagerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The survey response record</description>
        <name>SurveyResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyQuestionResponse__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfTouchpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
