src/flows/CASFO_Set_Owner_As_Sysadmin_when_Order_Block.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Owner_as_Admin</name>
        <label>Set Owner as Admin</label>
        <locationX>410</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SystemAdminUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Owner_as_SysAdmin</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SystemAdminAlias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>sysadmin</stringValue>
        </value>
    </constants>
    <interviewLabel>CASFO Set Owner As Sysadmin when Order Block {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASFO Set Owner As Sysadmin when Order Block</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_System_Admin_ID</name>
        <label>Get System Admin ID</label>
        <locationX>410</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_as_Admin</targetReference>
        </connector>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SystemAdminAlias</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SystemAdminUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>413</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Order_Block__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Sales_Manager_NTID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner_as_SysAdmin</name>
        <label>Set Owner as SysAdmin</label>
        <locationX>407</locationX>
        <locationY>410</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <startElementReference>GetAccount</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemAdminUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
