src/flows/CASFO_Supergroup_Opportunity_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetAsGeneral</name>
        <label>SetAsGeneral</label>
        <locationX>355</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAsSG</name>
        <label>SetAsSG</label>
        <locationX>670</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SGRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_SG</name>
        <label>Is SG</label>
        <locationX>520</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.CASFO_FWS_supergroup_opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAsSG</targetReference>
            </connector>
            <label>SG</label>
        </rules>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.CASFO_FWS_supergroup_opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAsGeneral</targetReference>
            </connector>
            <label>General</label>
        </rules>
    </decisions>
    <description>Flow to change opportunity record type based on checkbox</description>
    <interviewLabel>CASFO_Supergroup_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASFO_Supergroup_Opportunity_Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_General_Record_Type</name>
        <label>Get General Record Type</label>
        <locationX>523</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_SG</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GenerealRecordTypeDevName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>GeneralRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>520</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSGRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppoID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CASFO_FWS_supergroup_opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSGRecordType</name>
        <label>GetSGRecordType</label>
        <locationX>520</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_General_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SGRecordTypeDevName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SGRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>524</locationX>
        <locationY>723</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>GeneralRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>GenerealRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>General</stringValue>
        </value>
    </variables>
    <variables>
        <name>OppoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SGRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SGRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FWS_SG</stringValue>
        </value>
    </variables>
</Flow>
