src/flows/Create_New_Survey_Request-24.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Last_Surveyed_Date</name>
        <label>Assign Last Surveyed Date</label>
        <locationX>846</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>Contact.Last_Surveyed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The static Value for a Complaint</description>
        <name>Complaints</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints</stringValue>
        </value>
    </constants>
    <constants>
        <description>The static value for Orders</description>
        <name>Orders</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Orders</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decide_Survey_Type</name>
        <label>Decide Survey Type</label>
        <locationX>479</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Survey_Type_is_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Complaints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Complaint_Details</targetReference>
            </connector>
            <label>Survey Type is Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_survey_template</name>
        <label>Found survey template?</label>
        <locationX>312</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_survey_template_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_for_Survey_Type</targetReference>
            </connector>
            <label>Found survey template</label>
        </rules>
        <rules>
            <name>Didn_t_find_survey_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Didn&apos;t find survey template</label>
        </rules>
    </decisions>
    <description>Creates a new survey request</description>
    <interviewLabel>Create New Survey Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Survey Request</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create_Survey</label>
        <locationX>324</locationX>
        <locationY>623</locationY>
        <assignRecordIdToReference>SurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LCF_Surveyed_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <elementReference>Case.Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>Case.ClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Contact_Type__c</field>
            <value>
                <elementReference>Case.Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Owner_Team__c</field>
            <value>
                <elementReference>Case.Siebel_Owner_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Owner__c</field>
            <value>
                <elementReference>Case.Siebel_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Resolution_Code__c</field>
            <value>
                <elementReference>Case.Resolution_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Resolutions__c</field>
            <value>
                <elementReference>Case.SR_Resolutions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Root_Cause__c</field>
            <value>
                <elementReference>Case.Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA_Missed_Reason__c</field>
            <value>
                <elementReference>Case.SLA_Missed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA_Missed__c</field>
            <value>
                <elementReference>Case.SLA_Missed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA__c</field>
            <value>
                <elementReference>Case.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Sub_Root_Cause__c</field>
            <value>
                <elementReference>Case.Sub_Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Date__c</field>
            <value>
                <elementReference>Case.Siebel_Created_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Case.Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Case.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Case.Siebel_SR_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System__c</field>
            <value>
                <stringValue>Siebel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Area__c</field>
            <value>
                <elementReference>Case.Sub_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Status__c</field>
            <value>
                <elementReference>Case.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Sub_Status__c</field>
            <value>
                <elementReference>Case.Sub_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Id_for_Survey_Type</name>
        <label>Get Record Type Id for Survey Type</label>
        <locationX>317</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Complaints</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SurveyTaker__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Complaint_Details</name>
        <label>Lookup Complaint Details</label>
        <locationX>319</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Survey_Template</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Siebel_SR_Number__c</queriedFields>
        <queriedFields>Area__c</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>Root_Cause__c</queriedFields>
        <queriedFields>Sub_Root_Cause__c</queriedFields>
        <queriedFields>SLA__c</queriedFields>
        <queriedFields>SLA_Missed__c</queriedFields>
        <queriedFields>SLA_Missed_Reason__c</queriedFields>
        <queriedFields>SLA_Missed_Description__c</queriedFields>
        <queriedFields>Siebel_Created_Date__c</queriedFields>
        <queriedFields>Due__c</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Sub_Area__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Siebel_Owner__c</queriedFields>
        <queriedFields>Siebel_Owner_Team__c</queriedFields>
        <queriedFields>SR_Resolutions__c</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_Record</name>
        <label>Lookup Contact Record</label>
        <locationX>685</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Last_Surveyed_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Surveyed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Survey_Template</name>
        <label>Lookup Survey Template</label>
        <locationX>315</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_survey_template</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Language_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LanguageCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <filters>
            <field>lcf_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Complaints</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputReference>SurveyTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1015</locationX>
        <locationY>621</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LCF_Surveyed_Flag</name>
        <label>Update LCF Surveyed Flag</label>
        <locationX>523</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Lookup_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LCF_Surveyed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Decide_Survey_Type</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>The Account Id from the original touchpoint</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The details of the Case</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Id of the complaint</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Contact associated to Case</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Language Code for the Contact</description>
        <name>LanguageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The mode that the survey will be requested in</description>
        <name>Mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Object storing the new survey details</description>
        <name>NewSurveyRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <description>The record type relating to the Survey record being created</description>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>The Sales Org from the original touchpoint</description>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Survey object that is created</description>
        <name>Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <description>The Id of the Survey that is created</description>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Survey Template to be used</description>
        <name>SurveyTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <description>The Type of Survey - e.g. Complaint or Order</description>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
