src/flows/Create_New_Survey_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Last_Surveyed_Date</name>
        <label>Assign Last Surveyed Date</label>
        <locationX>889</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>Contact.Last_Surveyed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is temporarily switched off as integration data might not be correct</description>
        <name>BP_Default_for_DE01</name>
        <label>BP Default for DE01</label>
        <locationX>58</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bp</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Castrol_Default_for_Others</name>
        <label>Castrol Default for Others</label>
        <locationX>200</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>castrol</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Survey_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Brand_for_GR01</name>
        <label>Default Brand for GR01</label>
        <locationX>543</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bpcastrol</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Survey_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_as_Complaint</name>
        <label>Set Channel as Complaint</label>
        <locationX>60</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>Channel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Case_Details</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The static Value for a Complaint</description>
        <name>Complaints</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decide_Enquiry_Type</name>
        <label>Decide Enquiry Type</label>
        <locationX>325</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case_Details</targetReference>
            </connector>
            <label>Is Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Over_Surveying</name>
        <label>Decide if Over Surveying</label>
        <locationX>324</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Last_Surveyed_Date_is_more_than_30_days_from_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastSurveyedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LastSurveyedDateplus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Enquiries_Custom_Settings</targetReference>
            </connector>
            <label>Last Surveyed Date is more than 30 days from today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_survey_template</name>
        <label>Found survey template?</label>
        <locationX>373</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_survey_template_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SurveyTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id_for_Survey_Type</targetReference>
            </connector>
            <label>Found survey template</label>
        </rules>
        <rules>
            <name>Didn_t_find_survey_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Error_12</targetReference>
            </connector>
            <label>Didn&apos;t find survey template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Defaults</name>
        <label>Set Brand</label>
        <locationX>204</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Brand_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Default_for_GR01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GR01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Brand_for_GR01</targetReference>
            </connector>
            <label>Default for GR01</label>
        </rules>
        <rules>
            <name>Blank_Sales_Office_for_DE01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOffice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BP_Default_for_DE01</targetReference>
            </connector>
            <label>Blank Sales Office DE01</label>
        </rules>
        <rules>
            <name>Blank_Sales_Office_for_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOffice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Castrol_Default_for_Others</targetReference>
            </connector>
            <label>Blank Sales Office for Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Survey</name>
        <label>Type of Survey</label>
        <locationX>59</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ComplaintsType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsComplaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_as_Complaint</targetReference>
            </connector>
            <label>Complaints Type</label>
        </rules>
        <rules>
            <name>GE_TE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsComplaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_if_Over_Surveying</targetReference>
            </connector>
            <label>GE-TE</label>
        </rules>
    </decisions>
    <description>Creates a new survey request</description>
    <formulas>
        <name>LastSurveyedDateplus30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 30</expression>
    </formulas>
    <interviewLabel>Create New Survey Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Survey Request</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create_Survey</label>
        <locationX>566</locationX>
        <locationY>721</locationY>
        <assignRecordIdToReference>SurveyId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LCF_Surveyed_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <elementReference>Case.Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALCF_QBR_Event_Id__c</field>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>Case.ClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Contact_Type__c</field>
            <value>
                <elementReference>Case.Contact_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Owner_Team__c</field>
            <value>
                <elementReference>Case.Siebel_Owner_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Owner__c</field>
            <value>
                <elementReference>Case.Siebel_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Resolution_Code__c</field>
            <value>
                <elementReference>Case.Resolution_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Resolutions__c</field>
            <value>
                <elementReference>Case.SR_Resolutions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Root_Cause__c</field>
            <value>
                <elementReference>Case.Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA_Missed_Reason__c</field>
            <value>
                <elementReference>Case.SLA_Missed_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA_Missed__c</field>
            <value>
                <elementReference>Case.SLA_Missed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_SLA__c</field>
            <value>
                <elementReference>Case.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Sub_Root_Cause__c</field>
            <value>
                <elementReference>Case.Sub_Root_Cause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_Date__c</field>
            <value>
                <elementReference>Case.Siebel_Created_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Case.Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode__c</field>
            <value>
                <elementReference>Mode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Case.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Case.Siebel_SR_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organisation__c</field>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System__c</field>
            <value>
                <stringValue>Siebel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Area__c</field>
            <value>
                <elementReference>Case.Sub_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Status__c</field>
            <value>
                <elementReference>Case.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Sub_Status__c</field>
            <value>
                <elementReference>Case.Sub_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Brand_Lookup</name>
        <label>Brand Lookup</label>
        <locationX>375</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Survey_Template</targetReference>
        </connector>
        <filters>
            <field>CALCF_SalesOffice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOffice</elementReference>
            </value>
        </filters>
        <object>CALCF_SalesOffice_Brand_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>Brand</assignToReference>
            <field>CALCF_Brand__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id_for_Survey_Type</name>
        <label>Get Record Type Id for Survey Type</label>
        <locationX>377</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SurveyTaker__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContactT</name>
        <label>GetContact</label>
        <locationX>59</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Last_Surveyed_Date__c</queriedFields>
        <queriedFields>Prefered_Language_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Details</name>
        <label>Lookup Case Details</label>
        <locationX>58</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Siebel_SR_Number__c</queriedFields>
        <queriedFields>Area__c</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>Root_Cause__c</queriedFields>
        <queriedFields>Sub_Root_Cause__c</queriedFields>
        <queriedFields>SLA__c</queriedFields>
        <queriedFields>SLA_Missed__c</queriedFields>
        <queriedFields>SLA_Missed_Reason__c</queriedFields>
        <queriedFields>SLA_Missed_Description__c</queriedFields>
        <queriedFields>Siebel_Created_Date__c</queriedFields>
        <queriedFields>Due__c</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Sub_Area__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Siebel_Owner__c</queriedFields>
        <queriedFields>Siebel_Owner_Team__c</queriedFields>
        <queriedFields>SR_Resolutions__c</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Survey_Template</name>
        <label>Lookup Survey Template</label>
        <locationX>374</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_survey_template</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CALCF_Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Prefered_Language_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <filters>
            <field>lcf_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputReference>SurveyTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Enquiries_Custom_Settings</name>
        <label>Search Enquiries Custom Settings</label>
        <locationX>324</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Enquiry_Type</targetReference>
        </connector>
        <filters>
            <field>SR_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRArea</elementReference>
            </value>
        </filters>
        <filters>
            <field>SR_Sub_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRSubArea</elementReference>
            </value>
        </filters>
        <filters>
            <field>SR_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SRType</elementReference>
            </value>
        </filters>
        <object>Enquiries_Settings__c</object>
        <outputAssignments>
            <assignToReference>Channel</assignToReference>
            <field>Enquiry_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Error_12</name>
        <label>Set Case Error 12</label>
        <locationX>729</locationX>
        <locationY>600</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CALCF_LCF_Not_Surveyed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALCF_Not_Surveyed_Reason__c</field>
            <value>
                <stringValue>Survey Error 12</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1044</locationX>
        <locationY>723</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LCF_Surveyed_Flag</name>
        <label>Update LCF Surveyed Flag</label>
        <locationX>730</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>Assign_Last_Surveyed_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CALCF_LCF_Not_Surveyed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CALCF_Not_Surveyed_Reason__c</field>
            <value>
                <stringValue>Survey Error 00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCF_Surveyed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Type_of_Survey</startElementReference>
    <status>Active</status>
    <variables>
        <description>The Account Id from the original touchpoint</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>castrol</stringValue>
        </value>
    </variables>
    <variables>
        <description>The details of the Case</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Id of the complaint</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Contact associated to Case</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enquiry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsComplaint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The Language Code for the Contact</description>
        <name>LanguageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LanguageCodeIteration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastSurveyedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The mode that the survey will be requested in</description>
        <name>Mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Object storing the new survey details</description>
        <name>NewSurveyRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <description>The record type relating to the Survey record being created</description>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SalesOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Sales Org from the original touchpoint</description>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SRArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SRSubArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SRType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Survey object that is created</description>
        <name>Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <description>The Id of the Survey that is created</description>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTaker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyTaker__c</objectType>
    </variables>
    <variables>
        <description>The Survey Template to be used</description>
        <name>SurveyTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <description>The Type of Survey - e.g. Complaint or Order</description>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Complaints</elementReference>
        </value>
    </variables>
</Flow>
