src/flows/Opportunity_Channel1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetDirectChannel</name>
        <label>SetDirectChannel</label>
        <locationX>278</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetIndirectChannel</name>
        <label>SetIndirectChannel</label>
        <locationX>489</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indirect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WhichChannel</name>
        <label>Which Channel</label>
        <locationX>492</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDirectChannel</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
        <rules>
            <name>Indirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIndirectChannel</targetReference>
            </connector>
            <label>Indirect</label>
        </rules>
    </decisions>
    <description>Sets Opportunity Channle. Value for Channel is decided by checking in which Public Group (Direct/Indirect) owner belongs.</description>
    <interviewLabel>Opportunity Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Channel1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetChannel</name>
        <label>GetChannel</label>
        <locationX>492</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichChannel</targetReference>
        </connector>
        <filters>
            <field>UserRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserRole.DeveloperName</elementReference>
            </value>
        </filters>
        <object>opportunity_channel__c</object>
        <outputReference>Channel</outputReference>
        <queriedFields>Channel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>490</locationX>
        <locationY>1</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Channel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>494</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>UserRoleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRole</name>
        <label>GetRole</label>
        <locationX>494</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChannel</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.UserRoleId</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputReference>UserRole</outputReference>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>SetOpportunity</name>
        <label>SetOpportunity</label>
        <locationX>488</locationX>
        <locationY>629</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <startElementReference>GetOpportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>opportunity_channel__c</objectType>
    </variables>
    <variables>
        <name>DirectGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserRole</objectType>
    </variables>
</Flow>
