src/flows/REIDP_Community_Login_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_Community_Prefix</name>
        <label>Get Community Prefix</label>
        <locationX>48</locationX>
        <locationY>90</locationY>
        <apexClass>REIDP_CommunityLoginFlowPlugin</apexClass>
        <connector>
            <targetReference>Execute_Flow_Based_on_Community_Prefix</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>CommunityPrefix</assignToReference>
            <name>CommunityPrefix</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Execute_Flow_Based_on_Community_Prefix</name>
        <label>Execute Flow Based on Community Prefix</label>
        <locationX>306</locationX>
        <locationY>89</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BP_Community_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunityPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BP_Login_Flow</targetReference>
            </connector>
            <label>BP Community Flow</label>
        </rules>
    </decisions>
    <interviewLabel>REIDP Community Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REIDP Community Login Flow</label>
    <processType>Flow</processType>
    <startElementReference>Get_Community_Prefix</startElementReference>
    <status>Active</status>
    <subflows>
        <name>BP_Login_Flow</name>
        <label>BP Login Flow</label>
        <locationX>593</locationX>
        <locationY>87</locationY>
        <flowName>REIDP_Login_Flow</flowName>
        <inputAssignments>
            <name>LoginFlow_Application</name>
            <value>
                <elementReference>LoginFlow_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_Community</name>
            <value>
                <elementReference>LoginFlow_Community</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_IpAddress</name>
            <value>
                <elementReference>LoginFlow_IpAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_Platform</name>
            <value>
                <elementReference>LoginFlow_Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_SessionLevel</name>
            <value>
                <elementReference>LoginFlow_SessionLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_UserAgent</name>
            <value>
                <elementReference>LoginFlow_UserAgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoginFlow_UserId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <name>LoginFlow_FinishLocation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <name>LoginFlow_ForceLogout</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CommunityPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
