src/flows/Reset_Main_Competitor_Flag_on_Other_Opportunity_Competitors.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Flow will reset the main competitor flag on any previous opportunity competitor (agains the same opportunity)</description>
    <interviewLabel>Reset Main Competitor Flag on Other Opportunity Competitors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reset Main Competitor Flag on Other Opportunity Competitors</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_the_Previous_Main_Competitor</name>
        <label>Query the Previous Main Competitor</label>
        <locationX>336</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_the_Flag_of_the_previous_Main_Competitor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewMainCompetitor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Main_Competitor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity_Competitor__c</object>
        <outputReference>OldMainCompetitor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Main_Competitor__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Reset_the_Flag_of_the_previous_Main_Competitor</name>
        <label>Reset the Flag of the previous Main Competitor</label>
        <locationX>333</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Update_Main_Competitor_Name_on_the_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldMainCompetitor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Competitor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Competitor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Competitor_Name_on_the_Opportunity</name>
        <label>Update Main Competitor Name on the Opportunity</label>
        <locationX>338</locationX>
        <locationY>459</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Competitor_Name__c</field>
            <value>
                <elementReference>MainCompetitorName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Query_the_Previous_Main_Competitor</startElementReference>
    <status>Active</status>
    <variables>
        <description>The Name of the Main Competitor passed in to the flow from Process Builder</description>
        <name>MainCompetitorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the Main Competitor that has just been set by the user</description>
        <name>NewMainCompetitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Competitor Record that was previously flagged as &quot;Main&quot; on the current Opportunity</description>
        <name>OldMainCompetitor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Competitor__c</objectType>
    </variables>
    <variables>
        <description>The Id of the opportunity that initiated this process</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
