src/flows/Set_the_Owner_of_Account-12.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set Owner of Account Based on Sales Manager NTID</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set the account owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Set_Owner_of_Account_Based_on_Sales_Manager_NTID</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CASFO Set Owner As Sysadmin when Order Block</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Set Owner As Sysadmin when Order Block</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>CASFO_Set_Owner_As_Sysadmin_when_Order_Block</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Set Owner based on Manager NTID</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Set Owner as System Admin</label>
        </rules>
    </decisions>
    <description>CA:SFO - Sets the owner of an Accoun to be the NTID of the Sales Manager (Passed as part of the Interface)</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
    AND(
        OR(
            ISNEW(),
            ISCHANGED([Account].Order_Block_Code__c),
            ISCHANGED([Account].Marked_for_Deletion__c),
            ISCHANGED([Account].Sales_Manager_NTID__c),
            ISCHANGED([Account].Sales_Organisation__c)
        ),
        OR(
            [Account].RecordType.Name = &quot;Prospect&quot;,
            [Account].RecordType.Name = &quot;Customer&quot;
        )
    ),

    IF(
        OR(
            NOT([Account].Marked_for_Deletion__c),
            TEXT([Account].Sales_Organisation__c) = &quot;NZ0A&quot;,
            TEXT([Account].Sales_Organisation__c) = &quot;AU0A&quot;
        ),
        IF(
            TEXT([Account].Sales_Organisation__c) = &quot;RU01&quot;,
            OR(
                ISBLANK([Account].Order_Block_Code__c),
                LEFT([Account].Order_Block_Code__c, 2) != &quot;01&quot;
            ),

            true
        ),

        false
    ),

    false
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND(
        OR(
            ISNEW(),
            ISCHANGED({!myVariable_current.Order_Block_Code__c}),
            ISCHANGED({!myVariable_current.Marked_for_Deletion__c}),
            ISCHANGED({!myVariable_current.Sales_Manager_NTID__c}),
            ISCHANGED({!myVariable_current.Sales_Organisation__c})
        ),
        OR(
            {!myVariable_current.RecordType.Name} = &quot;Prospect&quot;,
            {!myVariable_current.RecordType.Name} = &quot;Customer&quot;
        )
    ),

    IF(
        OR(
            NOT({!myVariable_current.Marked_for_Deletion__c}),
            TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;NZ0A&quot;,
            TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;AU0A&quot;
        ),
        IF(
            TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;RU01&quot;,
            OR(
                ISBLANK({!myVariable_current.Order_Block_Code__c}),
                LEFT({!myVariable_current.Order_Block_Code__c}, 2) != &quot;01&quot;
            ),

            true
        ),

        false
    ),

    false
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
    AND(
        OR(
            ISNEW(),
            ISCHANGED([Account].Order_Block_Code__c),
            ISCHANGED([Account].Marked_for_Deletion__c),
            ISCHANGED([Account].Sales_Organisation__c)
        ),
        OR(
            [Account].RecordType.Name = &quot;Prospect&quot;,
            [Account].RecordType.Name = &quot;Customer&quot;
        )
    ),

    IF(
        AND(
            ([Account].Marked_for_Deletion__c),
            NOT(TEXT([Account].Sales_Organisation__c) = &quot;NZ0A&quot;),
            NOT(TEXT([Account].Sales_Organisation__c) = &quot;AU0A&quot;)
        ),
        true,
        IF(
            TEXT([Account].Sales_Organisation__c) = &quot;RU01&quot;,
            AND(
                NOT(ISBLANK([Account].Order_Block_Code__c)),
                LEFT([Account].Order_Block_Code__c, 2) == &quot;01&quot;
            ),
            
            false
        )
    ),

    false
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND(
        OR(
            ISNEW(),
            ISCHANGED({!myVariable_current.Order_Block_Code__c}),
            ISCHANGED({!myVariable_current.Marked_for_Deletion__c}),
            ISCHANGED({!myVariable_current.Sales_Organisation__c})
        ),
        OR(
            {!myVariable_current.RecordType.Name} = &quot;Prospect&quot;,
            {!myVariable_current.RecordType.Name} = &quot;Customer&quot;
        )
    ),

    IF(
        AND(
            ({!myVariable_current.Marked_for_Deletion__c}),
            NOT(TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;NZ0A&quot;),
            NOT(TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;AU0A&quot;)
        ),
        true,
        IF(
            TEXT({!myVariable_current.Sales_Organisation__c}) = &quot;RU01&quot;,
            AND(
                NOT(ISBLANK({!myVariable_current.Order_Block_Code__c})),
                LEFT({!myVariable_current.Order_Block_Code__c}, 2) == &quot;01&quot;
            ),
            
            false
        )
    ),

    false
)</expression>
    </formulas>
    <interviewLabel>Set_the_Owner_of_Account-12_InterviewLabel</interviewLabel>
    <label>CASFO_SetOwnerOfAccount</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
