src/flows/Update_Integration_ID_on_Account_Contact_Relation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Mofidied_Account_Contact_Relation_to_Array</name>
        <label>Add Mofidied Account Contact Relation to Array</label>
        <locationX>562</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>ModifiedAccountContactRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountContactRelationUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Account_Contact_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Integration_ID_on_the_Account_Contact_Relation_Object</name>
        <label>Set Integration ID on the Account Contact Relation Object</label>
        <locationX>559</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>AccountContactRelationUpdate.Integration_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountContactRelationUpdate.Integration_ID_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Mofidied_Account_Contact_Relation_to_Array</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountContactRelationsAssociatedTo</name>
        <label>AccountContactRelationsAssociatedTo</label>
        <locationX>285</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_AccountContactRelation</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_AccountContactRelation</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>AccountContactRelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountContactRelationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountContactRelationLookup</targetReference>
            </connector>
            <label>AccountContactRelation</label>
        </rules>
    </decisions>
    <interviewLabel>Update Integration ID on Account Contact Relation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Integration ID on Account Contact Relation</label>
    <loops>
        <name>Iterate_All_Account_Contact_Relations</name>
        <label>Iterate All Account Contact Relations</label>
        <locationX>233</locationX>
        <locationY>378</locationY>
        <assignNextValueToReference>AccountContactRelationUpdate</assignNextValueToReference>
        <collectionReference>AccountContactRelations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Integration_ID_on_the_Account_Contact_Relation_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Contact_Relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_AccountContactRelation</name>
        <label>Account - AccountContactRelation</label>
        <locationX>118</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Account_Contact_Relations</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AccountContactRelations</outputReference>
        <queriedFields>Account_Integration_ID__c</queriedFields>
        <queriedFields>Contact_Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>AccountContactRelationLookup</name>
        <label>AccountContactRelationLookup</label>
        <locationX>455</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Account_Contact_Relations</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountContactRelationID</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AccountContactRelations</outputReference>
        <queriedFields>Account_Integration_ID__c</queriedFields>
        <queriedFields>Contact_Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Contact_AccountContactRelation</name>
        <label>Contact - AccountContactRelation</label>
        <locationX>292</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Account_Contact_Relations</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputReference>AccountContactRelations</outputReference>
        <queriedFields>Account_Integration_ID__c</queriedFields>
        <queriedFields>Contact_Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID__c</queriedFields>
        <queriedFields>Integration_ID_Formula__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Contact_Relations</name>
        <label>Update Account Contact Relations</label>
        <locationX>239</locationX>
        <locationY>489</locationY>
        <inputReference>ModifiedAccountContactRelations</inputReference>
    </recordUpdates>
    <startElementReference>AccountContactRelationsAssociatedTo</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountContactRelationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Account Contact Relations that require the Integration ID to be updated</description>
        <name>AccountContactRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>Loop through each matching Account Contact Relation Record and update the Integration ID</description>
        <name>AccountContactRelationUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModifiedAccountContactRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
