src/flows/Update_Account_Business_Unit_from_CSD_Division_Code-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Salesforce_Value</name>
        <label>Assign Salesforce Value</label>
        <locationX>356</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>SalesforceCSDDivCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSDDivisionCode.Salesforce_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CSD_Division_Code_Translated</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Constant for unknown business units</description>
        <name>BusinessUnitUnknown</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_CSD_Div_Code_Populated</name>
        <label>Is CSD Div Code Populated</label>
        <locationX>467</locationX>
        <locationY>14</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CSD_Div_Code_Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSD_Div_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_CSD_Division_Code</targetReference>
            </connector>
            <label>CSD Div Code Is Populated</label>
        </rules>
        <rules>
            <name>CSD_Div_Code_Is_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSD_Div_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Business_Unit_with_Unknown_Value</targetReference>
            </connector>
            <label>CSD Div Code Is Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CSD_Division_Code_Translated</name>
        <label>Is CSD Division Code Translated</label>
        <locationX>532</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Business_Unit_with_Unknown_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSD Division Code Not Translated</defaultConnectorLabel>
        <rules>
            <name>CSD_Div_Code_Is_Translated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesforceCSDDivCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Business_Unit</targetReference>
            </connector>
            <label>CSD Div Code Is Translated</label>
        </rules>
    </decisions>
    <description>Updates an Account Business Unit based on the CSD Division Code</description>
    <interviewLabel>Update Account Business Unit from CSD Division Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Business Unit from CSD Division Code</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_CSD_Division_Code</name>
        <label>Lookup CSD Division Code</label>
        <locationX>219</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Salesforce_Value</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSD_Div_Code</elementReference>
            </value>
        </filters>
        <object>CSD_Division_Code_Mapping__c</object>
        <outputReference>CSDDivisionCode</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Salesforce_Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Business_Unit</name>
        <label>Update Account Business Unit</label>
        <locationX>533</locationX>
        <locationY>348</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>CSDDivisionCode.Salesforce_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Business_Unit_with_Unknown_Value</name>
        <label>Update Account Business Unit with Unknown Value</label>
        <locationX>821</locationX>
        <locationY>179</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>BusinessUnitUnknown</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Is_CSD_Div_Code_Populated</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>The Id of the Account to be updated</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CSD Division Code - used in UKMS mappings</description>
        <name>CSD_Div_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The CSD Division Code translation</description>
        <name>CSDDivisionCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSD_Division_Code_Mapping__c</objectType>
    </variables>
    <variables>
        <description>the translated CSD Div Code</description>
        <name>SalesforceCSDDivCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
