src/flows/UpdateOpportunityAmount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Acquisition</name>
        <label>Add Acquisition</label>
        <locationX>663</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>RevenueAcquisition</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginAcquisition</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assCalcTotalRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Business</name>
        <label>Add New Business</label>
        <locationX>367</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>RevenueNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assCalcTotalRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Portfolio_Reduction</name>
        <label>Add Portfolio Reduction</label>
        <locationX>956</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>RevenuePortfolioReduction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginPortfolioReduction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assCalcTotalRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Promotion</name>
        <label>Add Promotion</label>
        <locationX>811</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>RevenuePromotion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginPromotion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assCalcTotalRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Renewal</name>
        <label>Add Renewal</label>
        <locationX>507</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>RevenueRenewal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MarginRenewal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assCalcTotalRevenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assCalcTotalRevenue</name>
        <label>assCalcTotalRevenue</label>
        <locationX>691</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>varTotalOpportunityRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjSingleOpportunityRevenue.Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOpportunityRevenues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Type_of_Revenue</name>
        <label>Type of Revenue</label>
        <locationX>728</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjSingleOpportunityRevenue.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Business</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjSingleOpportunityRevenue.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Acquisition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjSingleOpportunityRevenue.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Acquisition</targetReference>
            </connector>
            <label>Acquisition</label>
        </rules>
        <rules>
            <name>Promotion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjSingleOpportunityRevenue.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Promotion</targetReference>
            </connector>
            <label>Promotion</label>
        </rules>
        <rules>
            <name>PortfolioReduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjSingleOpportunityRevenue.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio reduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Portfolio_Reduction</targetReference>
            </connector>
            <label>Portfolio Reduction</label>
        </rules>
    </decisions>
    <description>Updates Opportunity Amount field with values from related Opportunity Revenue</description>
    <interviewLabel>UpdateOpportunityAmount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOpportunityAmount</label>
    <loops>
        <name>loopOpportunityRevenues</name>
        <label>loopOpportunityRevenues</label>
        <locationX>134</locationX>
        <locationY>199</locationY>
        <assignNextValueToReference>sobjSingleOpportunityRevenue</assignNextValueToReference>
        <collectionReference>sobcvOpportunityRevenues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>flOpporunityRevenue</name>
        <label>flOpporunityRevenue</label>
        <locationX>135</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpportunityRevenues</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Revenue__c</object>
        <outputReference>sobcvOpportunityRevenues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Revenue__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>140</locationX>
        <locationY>351</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varTotalOpportunityRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Acquisition__c</field>
            <value>
                <elementReference>MarginAcquisition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_New__c</field>
            <value>
                <elementReference>MarginNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Portfolio_Reduction__c</field>
            <value>
                <elementReference>MarginPortfolioReduction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Promotion__c</field>
            <value>
                <elementReference>MarginPromotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Renewal__c</field>
            <value>
                <elementReference>MarginRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Acquisition__c</field>
            <value>
                <elementReference>RevenueAcquisition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_New__c</field>
            <value>
                <elementReference>RevenueNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Portfolio_Reduction__c</field>
            <value>
                <elementReference>RevenuePortfolioReduction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Promotion__c</field>
            <value>
                <elementReference>RevenuePromotion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Renewal__c</field>
            <value>
                <elementReference>RevenueRenewal</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>flOpporunityRevenue</startElementReference>
    <status>Active</status>
    <variables>
        <description>The margin associated to the acquisition products on an opportunity</description>
        <name>MarginAcquisition</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The margin associated to all new products on the quote</description>
        <name>MarginNew</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MarginPortfolioReduction</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MarginPromotion</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The margin associated to the renewal products on the opportunity</description>
        <name>MarginRenewal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The revenue associated to uptrade products on the opportunity</description>
        <name>RevenueAcquisition</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The revenue of new products</description>
        <name>RevenueNew</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RevenuePortfolioReduction</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The margin associated to the promotion products on the opportunity</description>
        <name>RevenuePromotion</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the sum of renewal products</description>
        <name>RevenueRenewal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>collection of Opportunity Revenues</description>
        <name>sobcvOpportunityRevenues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <description>a single opportunityrevenue</description>
        <name>sobjSingleOpportunityRevenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTotalOpportunityRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>16</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
