src/flows/Update_SKU_Permission_Set_Users.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Records_to_Delete</name>
        <label>Records to Delete</label>
        <locationX>333</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DeleteRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignmentsDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Permission_Set_Assignment</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Needs_Access_to_SKU</name>
        <label>User Needs Access to SKU</label>
        <locationX>221</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SKU_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PermissionSetID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Permission_Set</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SKU_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PermissionSetID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SKU_Permission_Set_Assignments_for_this_User</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>Adds or removes the user from thge SKU Permission Set</description>
    <interviewLabel>Update SKU Permission Set Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SKU Permission Set Users</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_to_Permission_Set</name>
        <label>Add User to Permission Set</label>
        <locationX>110</locationX>
        <locationY>256</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>PermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Permission_Set_Assignment</name>
        <label>Delete Permission Set Assignment</label>
        <locationX>332</locationX>
        <locationY>452</locationY>
        <inputReference>PermissionSetAssignmentsDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Permission_Set_ID</name>
        <label>Get Permission Set ID</label>
        <locationX>217</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Needs_Access_to_SKU</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SKU_Products</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>PermissionSetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SKU_Permission_Set_Assignments_for_this_User</name>
        <label>Get SKU Permission Set Assignments for this User</label>
        <locationX>330</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_to_Delete</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>PermissionSetAssignmentsDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Permission_Set_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>The Permission Set Assignments that are to be deleted as part of this flow</description>
        <name>PermissionSetAssignmentsDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <description>The Permission Set ID that will give users access to the SKU information</description>
        <name>PermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identifies whether the user should see SKU information</description>
        <name>SKU_User</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
